 .u-section-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 366px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 20px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 286px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-2 {
  position: relative;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 236px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 245px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  min-height: 773px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 773px;
  background-image: url("images/optimise.JPG");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  min-height: 773px;
  background-image: url("images/altinay-dinc-LluELtL5mK4-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 637px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 637px;
  }

  .u-section-2 .u-image-2 {
    min-height: 637px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 488px;
  }

  .u-section-2 .u-image-1 {
    min-height: 488px;
  }

  .u-section-2 .u-image-2 {
    min-height: 488px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1464px;
  }

  .u-section-2 .u-image-1 {
    min-height: 732px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 732px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 922px;
  }

  .u-section-2 .u-image-1 {
    min-height: 461px;
  }

  .u-section-2 .u-image-2 {
    min-height: 461px;
  }
} .u-section-3 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 424px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 457px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 377px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 245px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1070px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 58px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 952px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 0;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(133,142,153,0.1), rgba(133,142,153,0.1)), url("images/pexelsphoto3825576.jpeg");
  background-position: 50% 0%;
}

.u-section-4 .u-sheet-1 {
  min-height: 409px;
}

.u-section-4 .u-text-1 {
  letter-spacing: 0px;
  text-transform: none;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 265px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 337px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    background-position: 50% 23.11%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 258px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 194px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    background-position: 3.52% 100%;
    background-size: auto 130%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 301px;
    margin-right: 0;
    margin-bottom: 25px;
  }
}