 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/pic02.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 751px;
}

.u-section-1 .u-group-1 {
  width: 730px;
  min-height: 431px;
  box-shadow: 0 0 40px 4px rgba(26,26,26,0.8);
  height: auto;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 40px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.5999999999999999;
  margin: 44px 46px 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 51px auto 0;
  padding: 17px 30px 18px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 46px;
    margin-right: 46px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 39px;
    margin-right: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 448px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    line-height: 1.4;
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-1 {
    padding-bottom: 17px;
  }
} .u-section-2 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 1140px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 1140px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/Cecile-Core-home.jpg");
  background-position: 50% 7.79%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 70px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  width: 885px;
  margin: 784px auto 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 886px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-image-1 {
    min-height: 771px;
    background-position: 50% 6%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 69px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 371px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 824px;
  }

  .u-section-2 .u-image-1 {
    min-height: 959px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-1 {
    width: 300px;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1302px;
  }

  .u-section-2 .u-image-1 {
    min-height: 1130px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 901px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 901px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 400px;
  }
} .u-section-3 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 1043px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 1043px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/Cecile-Core-cards.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 13px 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 578px 91px 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 592px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -233px;
  }

  .u-section-3 .u-image-1 {
    min-height: 825px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 468px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 658px;
  }

  .u-section-3 .u-image-1 {
    min-height: 907px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: 560px;
    margin-top: 679px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 493px;
  }

  .u-section-3 .u-image-1 {
    min-height: 680px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: 526px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 310px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -47px;
  }

  .u-section-3 .u-image-1 {
    min-height: 993px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: 326px;
    margin-top: 675px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/cecile-6.JPG");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 640px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 60px auto;
  padding: 17px 30px 18px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-4 .u-btn-1 {
    width: 133px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 404px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 303px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 383px;
  }
}